body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header {
    background-color: rgba(173, 216, 230, 0.5);
    padding-left: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    text-align: center;
}

.content {
    background-color: rgba(255,255,255, 0.7);
    padding-left: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 50px;
}

.box {
    background-color: rgba(173, 216, 230, 0.5);
    margin: 40px auto;
    padding: 10px;
    width: 600px;
    border-spacing: 10px;
    max-height: 500px;
    overflow: auto;
}

.footer {
    background-color: rgba(173, 216, 230, 0.4);
    padding-left: 30px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    text-align: center;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.button {
    margin: 10px;
    width: 150px;
    height: 28px;
    background: rgba(173, 216, 230, 1);
    border: 1px solid rgba(173, 216, 230, 1);;
    cursor: pointer;
    font-weight: bold;
}

.w-200 {
    width: 200px;
}

.ml-10 {
    margin-left: 10px;
}

.message {
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

.recipe {
    margin: 10px 0 10px 0;
    padding: 5px 5px 5px 5px;
    background: rgba(152, 175, 199, 0.4);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: slategray;
    border-radius: 3px;
    border: 2px solid slategray;
}
