<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hogwarts Potions</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon">
        <link th:href="@{/css/index.css}" rel="stylesheet" />
        <script th:src="@{/js/index.js}" defer></script>
    </head>

    <body>
        <header class="header">
            <h1>Welcome to Hogwarts Potions</h1>
        </header>
        <div class="content">
            <div class="box">
                <p class="ml-10"><b>Brew a potion:</b></p>
                <form>
                    <div class="table-row">
                        <label class="table-cell" for="student-id">Student-ID:</label>
                        <input class="table-cell w-200" id="student-id" type="number" min="1" required>
                    </div>
                    <div class="table-row">
                        <label class="table-cell" for="ingredients">Ingredient Name:</label>
                        <select id="ingredients" class="w-200" required>
                            <option value="choose-ingredient" selected disabled>Choose ingredient</option>
                        </select>
                    </div>
                    <div>
                        <input type="button" class="button" id="add-ingredient" value="Add ingredient">
                        <input type="button" class="button" id="help" value="Help!">
                        <input type="button" class="button" id="delete" value="Delete potion">
                    </div>
                </form>
            </div>
            <div id="results" class="box"></div>
        </div>
        <footer class="footer">
            <p>&copy; 2023 by <b>Hogwarts Corporation</b></p>
        </footer>
    </body>
</html>
